<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>available items</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

<!-- <ion-item *ngFor="let arrs of arr;let i=index" >

  <ion-card  >
    <ion-card-header>
      <ion-card-title>{{arrs.name}}</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
     <p>available quantity :    {{arrs.quantity}}
    </p>
    
    
    </ion-card-content>
  </ion-card>
</ion-item> -->

<!-- this is the real code -->
  <!-- <ion-card *ngFor="let arrs of arr;let i=index"  (click)="openDetails(arrs,i)">
    <ion-card-header>
      <ion-card-title>{{arrs.name}}</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
     <p>available quantity :    {{arrs.quantity}}
    </p>
    
    
    </ion-card-content>
  </ion-card> -->

<!-- 
 
<h1>soled items</h1>


<ion-card *ngFor="let arrs of soled_items;let i=index" >
  <ion-card-header>
    <ion-card-title>{{arrs.name}}</ion-card-title>

  </ion-card-header>

  <ion-card-content>
   <p>sold quantity :      {{arrs.sellingQuantity}}
  </p>
  <p>
    price :       {{arrs.sellingPrice}}

  </p>
  </ion-card-content>
</ion-card>

      -->
<!-- <div class="div_of_items">

  <div class="item">
    <h3>name of the marble</h3>
    <figure>
      <img src="https://assets.codepen.io/t-1/maksim-larin-jZyacqaR4iI-unsplash.jpg" alt="a pair of blue and red ASICS sneakers"> -->
      <!-- full size image at: https://images.unsplash.com/photo-1560072810-1cffb09faf0f -->
    
  
    <!-- </figure>
    <p class="price">90</p>
    <p class="quantity">9</p>
  </div>
  
</div> -->





















<div class="div_of_items" *ngFor="let arrs of arr;let i=index"  >

  <div class="a-box">
    <div class="img-container">
      <div class="img-inner">
        <div class="inner-skew">
          <img [src]="arrs.imageurl">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>{{arrs.name}}</h3>
      <div>
        quantity : {{arrs.quantity}}
      </div>
  </div>
  </div>
  
</div>
</ion-content>