ion-router-outlet{
    background-color: #e9ecef;
}
ion-refresher{
    background:#e9ecef ;
       }


    //    ion-popover{
    //     --width:300px;
    //     .popover-viewport{
    //         --width: auto;
    //         width: auto;
    //         max-width: none;
    //         --max-width:none;
    //     }
    //    }

    .popover-side-bottom{
        --width: 500px;
    }